@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 800;
}

/* source-code-pro-500 - latin_vietnamese_latin-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/source-code-pro-v11-all-charsets-500.woff2') format('woff2');
}