.custom-menu-title {
    display: inline-block;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: var(--menu-bar-height);
    text-align: center;
    margin: 0;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.prev-next-buttons{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.local-button-active[rel="prev"] {
    justify-content: start;
}
.local-button-active[rel="next"]{
    justify-content: end;
}

.invert-e  {
    display: inline-block;
    transform: scaleX(-1);
}

